
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:  'poppins',sans-serif; */
    
}
nav{
    height: 80px;
    width:100vw;
    background-color:orange;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 50px 0px 100px;
    position: fixed;
    z-index: 5;
    opacity: 2;
}

nav .logo{
    font-size: 33px;
    color: aqua;
    font-weight: 600;
}
#logo span{
    font-size: 3em;
    font-style: 'Lobster Two', cursive;
    /* color: aqua; */
    font-weight: 600;
}
nav ul{
     display: flex;
     list-style: none;
}

nav ul a{
    text-decoration: none;
}
nav ul a li{
    color: white;
    padding: 20px;
    font-size: 22px;
    font-weight: 90;
    letter-spacing: 1px;
    list-style: none;
    text-decoration: none;
}

nav ul a li:hover, nav ul .dropdown a:hover{
        animation: background-pan 2s linear infinite;
        transform: scale(1.1);
        background: linear-gradient(
            to right,
            rgb(97, 15, 3),
            rgb(54, 4, 116),
            rgb(2, 33, 68),
            rgb(1, 55, 11)  
        );
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
      
}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }

nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}





.dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color:orange;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    font-size: 20px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:#e0c78f;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }








@media (max-width: 500px) {
    nav ul{
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgb(10, 10, 10);
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        display: none;
        z-index: 1;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul a li{
        font-size: 20px;
        display: block;
        padding: 10px;
        color: aliceblue;
    }
    
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ul{
        display: block;
    }
    .fa-bars{
        color: rgb(20, 20, 20);
    }

    
}



@media (max-width: 1000px) {
    nav ul{
        position: fixed;
        top: 80px;
        left: 0;
        background-color: rgb(44, 33, 33);
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        display: none;
        z-index: 1;
    }
    /* .fa{
        color:white;
    } */
    .fa-bars:before {
        content: "\f0c9";
        color:white;
        /* background-color:white; */
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul a li{
        font-size: 20px;
        display: block;
        padding: 10px;
        color: aliceblue;
    }
    
    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ul{
        display: block;
    }
    .fa-bars{
        color: black;
    }
}